# Dependencies
node_modules/

# Hardhat build directory
artifacts/
cache/

# Secrets
.env
*.secret

# System files
.DS_Store
*.swp
*.lock

# Optional files
coverage/
coverage.json
gasReporterOutput.json

# Log files
*.log

# Ignore contents of textlist folder
textlist/*
!textlist/.gitkeep

__pycache__/